<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Debug"
      internalLogFile="App_Data/logs/internal-nlog.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="XCore.Logging.NLog"/>
  </extensions>
 
  <!-- define various log targets -->
  <targets>
    <!-- write logs to file -->
    <target xsi:type="File" name="allfile" fileName="${var:configDir}/App_Data/logs/XCore-log-${shortdate}.log"
				layout="${longdate}|${XCore-tenant-name}|${aspnet-traceidentifier}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${exception:format=ToString,StackTrace}" />

    <!--<target xsi:type="Null" name="blackhole" /> -->
  </targets>

  <rules>
    <!--All logs-->
    <!--NLog的使用方式基本上和其它的Log库差不多，分为Trace、Debug、Info、Error、Fatal五个等级-->
    <logger name="*" minlevel="Trace" writeTo="allfile" />
  </rules>
</nlog>