@model OCore.Setup.Models.SetupViewModel
@{
    // The Setup Layout is a standard MVC layout do that it doesn't use Shapes.
    Layout = "../_Layout.cshtml";
}

<form action="/setup/index" method="post">
    <div class="jumbotron mt-5">
        <h1>安装</h1>
        <p class="lead">请填写下列表单完成安装</p>
        @Html.AntiForgeryToken()
    </div>

    <div class="row">
        <div class="form-group col-md-12">
            <label asp-for="SiteName">站点名称</label>
            <input asp-for="SiteName" type="text" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12">
            <label asp-for="ConnectionString">连接字符串</label>
            <input asp-for="ConnectionString" type="text" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label asp-for="TablePrefix">数据表前缀</label>
            <input asp-for="TablePrefix" type="text" class="form-control" />
        </div>
        <div class="form-group col-md-6">
            <label asp-for="RecipeName">安装类型</label>
            <select asp-for="RecipeName" class="form-control">
                @foreach (var item in Model.Recipes)
                {
                <option value="@item.Name">@item.Name</option>
                }
            </select>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label asp-for="UserName">用户名</label>
            <input asp-for="UserName" type="text" class="form-control" />
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Email">Email</label>
            <input asp-for="Email" type="text" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label asp-for="Password">密码</label>
            <input asp-for="Password" type="password" class="form-control" />
        </div>
        <div class="form-group col-md-6">
            <label asp-for="PasswordConfirmation">确认密码</label>
            <input asp-for="PasswordConfirmation" type="password" class="form-control" />
        </div>
    </div>
    <fieldset>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">确认提交</button>
        </div>
    </fieldset>
</form>