<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Debug"
      internalLogFile="App_Data/logs/internal-nlog.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="XCore.Logging.NLog"/>
  </extensions>
 
  <!-- define various log targets -->
  <targets>
    <!-- 保存至文件 -->
    <target xsi:type="File" name="allfile" fileName="${var:configDir}/App_Data/logs/XCore-log-${shortdate}.log"
				layout="${longdate}|${XCore-tenant-name}|${aspnet-traceidentifier}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${exception:format=ToString,StackTrace}" />

    <target xsi:type="File" name="error" fileName="${var:configDir}/App_Data/logs/XCore-error-${shortdate}.log"
        layout="${longdate}|${XCore-tenant-name}|${aspnet-traceidentifier}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${exception:format=ToString,StackTrace}" />
 
    <!--输出至Debugger-->
    <target xsi:type="Debugger" name="debugger" 
            layout="${date:format=HH\:mm\:ss} | ${message}" />
    <!--输出至控制台-->
    <target xsi:type="ColoredConsole" name="console" 
            layout="${longdate} ${message} ${exception:format=tostring}"></target>
    <!--输出至邮件-->
    <target xsi:type="Mail" name="infoMail"
         smtpServer="smtp.163.com"
         smtpPort="25"
         smtpAuthentication="Basic"
         smtpUserName="deno@163.com"
         smtpPassword="demo"
         enableSsl="true"
         addNewLines="true"
         from="demo@163.com"
         to="demo@qq.com"
         subject="Project Exception Mail"
         header="*********************"
         body="${longdate} | ${message} "
         footer="*********************"/>
  </targets>

  <rules>
    <!--All logs-->
    <!--NLog日志级别：Trace、Debug、Info、Warn、Error、Fatal、Off-->
    <logger name="*" level="Fatal" writeTo="allfile" />
    <!--<logger name="*" level="Fatal" writeTo="infoMail" />-->

    <logger name="*" levels="Error,Warn" writeTo="allfile" />
    <!--<logger name="*" levels="Fatal,Wrror,Warn" writeTo="error" />-->

    <logger name="*" level="Info" writeTo="console" />
    <!--<logger name="*" level="Info" writeTo="allfile" />-->

    <logger name="*" level="Debug" writeTo="debugger" />
    <!--<logger name="*" level="Debug" writeTo="allfile" />-->
    
    <logger name="*" minlevel="Trace" writeTo="allfile" />
  </rules>
</nlog>