@{
    ViewBag.Title = "首页";
    ViewBag.CurrentPageName = "1";
}
<div class="page-content">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="@Url.Action("index","home")">首页</a>
            </li>
        </ul>
    </div>
    <h1 class="page-title">
        首页
    </h1>
    <div class="row">
        <div class="col-md-12">欢迎使用创楷国际办公OA系统</div>
    </div>
</div>