 @{
     ViewBag.Title = "设置";
     ViewBag.CurrentPageName = "0";
}
<div class="page-content">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="@Url.Action("index","home")">首页</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>帐户管理</span>
            </li>
        </ul>
    </div>
    <h1 class="page-title">
        设置
    </h1>
    <div class="row">
        <div class="col-md-12">欢迎使用创楷国际办公OA系统</div>
    </div>
</div>